<h1>New sub_category</h1>

<% if @parent_sub_category.present? %>
  <%= render 'new_child_form' %>
<% else %>
  <%= render 'form' %>
<% end %>


<%= link_to 'Back', category_sub_categories_path(@category) %>
