<h1>Editing item</h1>

<%= render 'form' %>

<%= link_to 'Show', category_sub_category_item_path(@category, @sub_category) %> |
<%= link_to 'Back', category_sub_category_items_path(@category, @sub_category) %>
